* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 0.5rem;
}

a.button {
  text-decoration: none;
}

button,
.button {
  display: block;
  border: 2px solid #36304a;
  padding: 0.25rem 0.75rem;
  background: #36304a;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  cursor: pointer;
}

button svg,
.button svg {
  margin-right: 0.5rem;
}

button:hover,
.button:hover {
  border: 2px solid #565167;
  background: #565167;
  color: #fff;
}

.button-inverted {
  border: 2px solid #36304a;
  background: #fff;
  color: #36304a;
}

.button-inverted:hover {
  border: 2px solid #565167;
}

table {
  position: relative;
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

table td,
table th {
  text-align: left;
}
table td,
table th {
  padding: 8px;
}

thead tr {
  height: 60px;
  background: #36304a;
}

thead td {
  font-size: 18px;
  line-height: 1.2;
  vertical-align: middle;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
}

thead td svg {
  margin-left: 0.5rem;
}

thead td span {
  margin-left: 2rem;
}

thead td svg + span {
  margin-left: 0.5rem;
}

table tbody tr {
  height: 50px;
}

tbody tr {
  font-family: sans-serif;
  font-size: 15px;
  color: #36304a;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.controller {
  display: flex;
  justify-content: stretch;
  margin-bottom: 0.5rem;
}

.left {
  flex-grow: 1;
}

.right {
  padding-top: 0.5rem;
}

label {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 0;
}

label:last-of-type {
  margin-right: 0;
}

label input {
  margin-left: 0.5rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.svg-hidden {
  display: none;
}

.checkbox svg {
  margin-left: 0.5rem;
  vertical-align: middle;
}
